:root{
  font-size: 16px;
}
body{
  margin: 0;
  padding: 0;
}
.row{
  margin: 0;
}

#chatPage{
  width: 30%;
}
#profilePic{
  float: left;
  height: 3vmax;
  width: 3vmax;
  margin: 1vmax 10px 10px 20px;
}
#profileName{
  margin-top: 1.5vmax;
  font-size: 1.8vmax;
}
#userName{
  margin-left: 8vw;
  vertical-align: top;
  font-size: 1.5vw;
  margin-top: 1vmax;
}
#user1Pic, #user2Pic, #user3Pic, #group1Pic, #group2Pic{
  float: left;
  height: 9%;
  width: 9%;
  margin: 1vmax 0px 12px 35px;
}

#backbutton{
  float: left;
  font-size:24px;
  margin-top: 1%;
  padding-left: 1%;
}

#profilePage{
  position: relative;
  font-size:24px;
  margin-left:30px;
  margin: 0px;
}

#profilePage p{
  margin-left:27%;
  position:absolute;
  font-size: 2vw;
}

#chatWindow{
  float: right;
  margin-right: 0px;
  padding-right: 0px;
}

hr.style1{
	border-top: 1px solid #eeeeee;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-right: 0px;
  width: 90%;
}

.verticalbar {
    border-left: 1px solid green;
    height: 100%;
    margin-left: 0px;
    top: 0;
    position: absolute;
}

#userPic{
  float: left;
  height: 4.8%;
  width: 4.8%;
  margin: 10px 10px 10px 20px;
}

#topbar{
  background:#eeeeee;
  width:100%;
  margin-top: 0px;
  margin-right: 0px;
}
#picture{
  height: 14vmax;
  width: 14vmax;
  margin-left: 25%;
  margin-top: 0px;
}

#status{
    padding: 0px;
}

.padding-0{
    padding-right:0;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
